vendor
node_modules

.env
.env.*

.git
.gitignore

public/build

ai-backend/venv
ai-backend/__pycache__
ai-backend/chroma_db

*.pyc
*.pyo
*.pyd

.DS_Store

coverage
tests

npm-debug.log
yarn-error.log